body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  font-family: "Shadows Into Light", cursive;
  transition: ease-in-out 0.5s;
  .main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p {
      margin-top: 30px;
      font-size: 30px;
    }
    button {
      font-family: "Shadows Into Light", cursive;
      border-radius: 5px;
      height: 50px;
      width: 300px;
      font-size: 30px;
      transition: ease-in-out 0.5s;
      border: none;
      background-color: black;
      color: white;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
        border-radius: 30px;
      }
    }
  }
}
